.page-header {
  height: 52vh;
  background: var(--color-primary);
}

.top-navbar {
  padding: 20px;
}

.page-header .header-content {
  width: 90%;
  position: relative;
  margin: 3.2rem auto;
  font-size: 3.6rem;
  color: var(--color-title-in-primary);
}

.page-header .header-content strong {
  font: 700 3.6rem Archivo;
  line-height: 4.2rem;
  color: var(--color-title-in-primary);
  display: flex;
  margin-left: 3rem;
}

@media (min-width: 700px) {
  .page-header .top-bar-container {
    max-width: 1100px;
  }

  .page-header .header-content {
    flex: 1;
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .page-header .header-content strong {
    max-width: 350px;
    margin-bottom: 2rem;
    display: flex;
    margin-left: 3rem;
    margin-top: 2rem;
  }

  .page-header .header-content p {
    font-size: 2rem;
    margin-top: -1rem;
  }
}
