#container-home {
  height: 100vh;
  width: 100vw;
  background: var(--color-primary);
}

.title-dev {
  font-size: 11.5vw;
  color: var(--color-title-in-primary);
  margin-left: 3rem;
}

.img-hero {
  width: 100%;
}

.sub-title {
  color: var(--color-text-in-primary);
  font-size: 2.2rem;
  margin-left: 3rem;
}

.buttons_container {
  margin-left: 1.8rem;
}

.buttons_container p {
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.buttons_container p {
  margin-bottom: 5rem;
}

#btnEtudier {
  width: 30rem;
  height: 10.4rem;
  margin-bottom: 1.2rem;
  border-radius: 0.8rem;
  border: 0;
  margin-top: 2rem;
  font-size: 2.4rem;
  text-decoration: none;
  color: var(--color-button-text);

  background: var(--color-primary-lighter);
}

#btnDonner {
  width: 30rem;
  height: 10.4rem;
  border-radius: 0.8rem;
  font-size: 2.4rem;
  border: 0;
  background: var(--color-secundary);
  text-decoration: none;
  color: var(--color-button-text);
}

#btnEtudier:hover {
  background: var(--color-primary-light);
}

#btnDonner:hover {
  background: var(--color-secundary-dark);
}

#total-connection img {
  margin-left: 1rem;
}

#total-connection {
  color: var(--color-text-in-primary);
}

@media (min-width: 700px) {
  .title-dev {
    margin-left: 0;
  }
  .sub-title {
    margin-left: 10px;
    font-size: 3.4rem;
  }

  .buttons_container {
    margin-left: 1rem;
  }

  /*  .buttons_container p {
    margin-bottom: 0;
  } */

  #btnEtudier {
    margin: 2rem;
  }
}
