.page-header {
  height: 52vh;
  background: var(--color-primary);
}

.page-header .title-text {
  max-width: 350px;
  margin-top: 5rem;
  margin-left: 1rem;
  font: 700 3.6rem Archivo;
  line-height: 4.2rem;
  color: var(--color-title-in-primary);
}

.header-form {
  margin-top: -6rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.header-form button {
  width: 100%;
  height: 5.6rem;
  background: var(--color-secundary);
  color: var(--color-button-text);
  border: 0;
  border-radius: 0.8rem;
  cursor: pointer;
  font: 700 1.6rem Archivo;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background-color 0.2s;
  margin-top: 3.4rem;
}

@media (min-width: 700px) {
  .page-header .form {
    max-width: 350px;
    margin-top: 5rem;
    margin-left: 11rem;
    display: flex;
    font: 700 3.6rem Archivo;
    line-height: 4.2rem;
    color: var(--color-title-in-primary);
  }

  .page-header .list {
    max-width: 350px;
    margin-top: 5rem;
    margin-left: 3rem;
    display: flex;
    font: 700 3.6rem Archivo;
    line-height: 4.2rem;
    color: var(--color-title-in-primary);
  }

  .page-header .instructions {
    max-width: 350px;
    margin-top: 5rem;
    margin-left: 11rem;
    display: flex;
    font: 700 3.6rem Archivo;
    line-height: 4.2rem;
    color: var(--color-title-in-primary);
  }

  .header-form {
    margin-top: -6rem;
  }
}
